<div class="welcome-columnflex-container">
  <div class="button-block">
    <a class="event-button" href="/event/create_events"> <button>Veranstaltung erstellen</button></a>
    <a class="event-button" href="/event"><button>Veranstaltung anschauen</button></a>
  </div>
</div>s