<div class="grid-container21">
  <div class="grid-item21 item-1">
    <div class="text-container1">
      <p>Bleiben Sie auf dem Laufenden über die neuesten Veranstaltungen und Ereignisse. Egal, ob Sie etwas in Ihrer Nähe
        oder in einer anderen Stadt suchen, unsere Plattform macht es Ihnen leicht, die perfekte Veranstaltung zu finden
        und das Beste aus Ihrer Zeit zu machen.</p>

    </div>
    <a class="event-button" href="/event">
      <button> Veranstaltung <br /> anschauen </button>
    </a>
  </div>
  <div class="grid-item21 item-2">
    <div class="text-container1">
      <p>Erstellen Sie das perfekte Event und teilen Sie es mit Ihren Freunden, Familienmitgliedern und potenziellen
        Teilnehmern. Von der Festlegung des Datums und des Ortes bis hin zum Austausch aller Details - unsere Plattform
        macht es einfach, Ihre Veranstaltung zum Leben zu erwecken.</p>

    </div>
    <a class="event-button" href="/event/create_events"><button>Veranstaltung erstellen</button></a>
  </div>
</div>