<div class="grid-container21">
  <div class="grid-item21 item-1">
    <h2>Alles auf einen Blick</h2>
    <img src="/images/welcome_one.png" alt="">
    <div class="text-container1">
      <p>Bleiben Sie auf dem Laufenden über die neuesten Veranstaltungen und Ereignisse. Egal, ob Sie dabei etwas in
        Ihrer Nähe
        oder in einer anderen Stadt suchen. Denn unsere Plattform, welche auch als Ihr persönlicher Eventplaner dient,
        macht es Ihnen leicht die perfekte Veranstaltung zu finden
        und das Beste aus Ihrer Zeit zu machen.</p>
    </div>
    <a class="event-button" href="/event">
      <button> Veranstaltungen<br />anschauen </button>
    </a>
  </div>
  <div class="grid-item21 item-2">
    <h2>Jetzt einfach loslegen</h2>
    <img src="/images/welcome_2.png" alt="">
    <div class="text-container1">
      <p>Erstellen Sie das perfekte Event und teilen Sie es mit Ihren Freunden, Familienmitgliedern und potenziellen
        Teilnehmern. Von der Festlegung des Datums und des Ortes bis hin zum Austausch aller Details - unsere Plattform
        macht es einfach, Ihre Veranstaltung zum Leben zu erwecken.</p>
    </div>
    <a class="event-button" href="/event/create_events">
      <button>Veranstaltung</br>erstellen</button>
    </a>
  </div>
</div>