<div class="grid-container431">
  <div class="grid-item431 item-1">
    <div class="text-container1">

    </div>
    <a class="event-button" href="/event">
      <button> Veranstaltung <br /> anschauen </button>
    </a>
  </div>
  <div class="grid-item21 item-2">
    <div class="text-container1">

    </div>
    <a class="event-button" href="/event/create_events"><button>Veranstaltung erstellen</button></a>
  </div>
  <div class="grid-item21 item-3">

  </div>
  <div class="grid-item21 item-4">
    <!-- Content for grid item 4 goes here -->
  </div>
</div>