<div class="plaincontainer-impressum">
  <div class="container-impressum">
    <h2>Datenschutzerklärung</h2>
    <br />
    <br />
    <br />
    <p> 1. Datenschutz
      <br />
      <br />
      Wir, Evently, nehmen den Schutz Ihrer persönlichen Daten sehr ernst und halten uns strikt an die Regeln der
      Datenschutzgesetze. Personenbezogene Daten werden auf dieser Webseite nur im technisch notwendigen Umfang erhoben.
      In keinem Fall werden die erhobenen Daten verkauft oder aus anderen Gründen an Dritte weitergegeben.
    </p>
    <br />
    <br />
    <p>
      2. Datenerfassung auf unserer Website
      <br />
      <br />
      Server-Log-Files
      Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log Files, die Ihr
      Browser automatisch an uns übermittelt. Dies sind:
      <br />
      <br />
      Browsertyp/ Browserversion
      <br />
      <br />

      verwendetes Betriebssystem
      <br />
      <br />

      Referrer URL
      <br />
      <br />

      Hostname des zugreifenden Rechners
      <br />
      <br />

      Uhrzeit der Serveranfrage
      <br />
      Diese Daten sind nicht bestimmten Personen zuordenbar. Eine Zusammenführung dieser Daten mit anderen Datenquellen
      wird nicht vorgenommen. Wir behalten uns vor, diese Daten nachträglich zu prüfen, wenn uns konkrete Anhaltspunkte
      für eine rechtswidrige Nutzung bekannt werden.

      Kontaktformular
      <br />
      Wenn Sie uns per Kontaktformular Anfragen zukommen lassen, werden Ihre Angaben aus dem Anfrageformular inklusive
      der von Ihnen dort angegebenen Kontaktdaten zwecks Bearbeitung der Anfrage und für den Fall von Anschlussfragen
      bei uns gespeichert. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.
    </p>
    <br />
    <br />
    <p>
      3. Rechte des Nutzers
      <br />
      Sie haben als Nutzer das Recht, auf Antrag unentgeltlich Auskunft zu erhalten über die personenbezogenen Daten,
      die über Sie gespeichert wurden. Sie haben außerdem das Recht auf Berichtigung, Sperrung und Löschung dieser
      Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit unter der im
      Impressum angegebenen Adresse an uns wenden.
    </p>
    <br />
    <br />


    <p>
      4. Widerspruch gegen Werbung
      <br />
      <br />
      Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten zur Übersendung von nicht
      ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit widersprochen. Die Betreiber der
      Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten
    </p>


  </div>
</div>