<div class="plaincontainer">
  <p>Impressum</p>

  <p>Angaben gemäß § 5 TMG:</p>

  <p>Thomas Hummler <br>
    Karlsstraße 24 <br>
    01010 Karlsstadt <br>
  </p>

  <p>
    Kontakt: Thomas Hummler<br>
    Telefon: 01234/567890 <br>
    E-Mail: thomas.hummler@musterdomain.de
  </p>

  <p>
    Magnus Mink <br>
    Alfred-Wachtel-Straße 8<br>
    78462 Konstanz
  </p>

  <p>
    Kontakt: Magnus Mink<br>
    Telefon: 01788/5634560 <br>
    E-Mail: magnus.mink@example.com
  </p>

  <p>
    Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:
  </p>

  

  <p>
    Hinweis:
    <br>
    <br>
    Trotz sorgfältiger inhaltlicher Kontrolle übernehmen wir keine Haftung für die Inhalte externer Links. <br>
    Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
  </p>
</div>