<div class="homepage-columnflex-container">
  <div class="create-events-container">
    <form action="/event/createStep1" method="post" class="create-form" enctype="multipart/form-data">
      <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
      <h1>Event erstellen</h1>
      <div class="input-container">
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        <input type="text" placeholder="Name" name="name" maxlength="120" />
        <input type="text" placeholder="Beschreibung " name="beschreibung" maxlength="1240" />
        <input type="text" placeholder="Stadt" name="stadt" minLength="1" maxlength="120" />
        <input type="number" placeholder="PLZ" name="plz" minLength="5" maxlength="5" min="1" max="99999" />
        <input type="text" placeholder="Straße" name="straße" maxlength="120" />
        <input type="number" placeholder="Hausnummer" name="hausnummer" minlength="1" />
        <input type="date" placeholder="Datum des Events" name="date" />
        <br />
        <button type="submit" class="submit-button">Hinzufügen</button>
      </div>
    </form>
  </div>
</div>