<div class="homepage-columnflex-container">
  <div class="create-events-container">
    <form
      action="/eventWithImage"
      method="post"
      class="create-form"
      enctype="multipart/form-data"
    >
      <h1>Event erstellen</h1>
      <div class="input-container">
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
        <input type="text" placeholder="Name" name="name" />
        <input type="text" placeholder="Beschreibung " name="beschreibung" />
        <input type="text" placeholder="Stadt" name="stadt" />
        <input type="number" placeholder="PLZ" name="plz" />
        <input type="text" placeholder="Straße" name="straße" />
        <input type="number" placeholder="Hausnummer" name="hausnummer" />
        <input type="date" placeholder="Datum des Events" name="date" />
        <input type="file" class="form-control" name="image" />
        <input type="checkbox" class="checkbox" name="private"  />
        <label for="private"> Meine Event soll Privat sein</label><br />
        


        <button type="submit" class="submit-button">Hinzufügen</button>
      </div>
    </form>
  </div>
</div>
