<%- exposeLocalsToBrowser() %>

  <div class="promote-columnflex-container">
    <div>
      Auf dieser Seite können Sie von Ihnen selbst erstellte Promoten! <br>
      Was heißt promoten?<br>
      Je nachdem welche Promotionsstufe Sie wählen, werden von Ihnen erstelle Events weiteroben angezeigt!<br>
      Umso höher die Promotionstufe ihres Events ist, desto stärker wird ihr Event auch wahrgenommen. <br>
      Wer scrollt dein bei einer Website schon ganz nach unten.
    </div>
    <div class="eventId">
      Die aktuelle EventId lautet <%= event.promotionStatus %>
    </div>
    <div id="promote">
      <div>
        <form class="promotion-form">
          <input type="hidden" name="_csrf" value="<%= _csrf %>" />
          <select type="text" name="promotionStatus" v-model="Promotion" value="4">
            <option value=0>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
          </select>
      </div>
      <div class="promotion-status">
        Hier ist ihr Status : {{Promotion}}
      </div>
      <button type="submit" class="submit-button" @click="promote(<%= event.id %>)">Hinzufügen</button>
    </div>
  </div>