<div class="img-block">
    <img src="/images/party.jpg" class="party-img" />
</div>

<div class="homepage-columnflex-container">
    <div class="text">
        <div class="home-textblock1">
            Willkommen bei Evently!
        </div>
        <div class="home-textblock2">
            Schön, dass Sie es auf den besten kostenlosen Eventfinder geschafft haben!
        </div>
        <div class="home-textblock3">
            Sie sind auf der Suche nach einer Veranstaltung? Nutzen sie unsere Suchfunktion um passende Veransaltungen auch in
            ihrerer Nähe zu finden.
        </div>
        <div class="home-textblock4">
            Sie wollen selber Events erstellen? Dann registrieren Sie sich jetzt ganz einfach, damit sie selbst Veranstaltungen
            erstellen und mit ihren Freunden teilen können!
            Außerdem können Sie als regsitrierter User auch Veranstaltungen bewerten und liken!
            <a href="/signup">Registrieren Sie sich jetzt!</a>
        </div>

        <div class="home-textblock5">
            Sie haben schon einen Account und wollen sich eingeloggen?
            <a href="/login">Melden Sie sich jetzt an!</a>
        </div>
        <div class="home-textblock6">
            <a href="/event"> Klicken Sie hier, um sich alle Events zeigen zu lassen</a>
        </div>
    </div>
</div>

</div>





<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>