<div class="plaincontainer">
    <div class="homepage-container">
        <h1>Willkommen bei Evently!</h1>
        <div class="img-block">
            <img src="/images/party.jpg" class="party-img" />
        </div>
        <div class="homepage-columnflex-container">
            <div class="homepage-textblock">
                <div class="home-textblock2">
                    Schön, dass Sie ihren Weg zum besten kostenlosen Eventmanager geschafft haben!
                </div>
                <br/>
                <br/>
                <div class="home-textblock3">
                    Sie sind auf der Suche nach einer Veranstaltung? Nutzen sie einfach unsere Suchfunktion, um passende
                    Veransaltungen auch in ihrerer Nähe zu finden.
                </div>
                <div class="home-textblock4">
                    Sie wollen ihr eigenes Event erstellen? Nichts leichter als das. Registrieren Sie sich jetzt ganz einfach kostenlos, damit auch sie 
                    ihre eigenen Veranstaltungen
                    erstellen und mit ihren Freunden teilen können!
                    Außerdem profitieren sie als registrierter User auch noch von vielen weiteren Vorteilen.
                    Registrieren Sie sich jetzt ganz einfach <a href="/signup">hier</a>.
                </div>
                <br/>
                <br/>
                <br/>
                <div class="home-textblock5">
                    Sie haben schon einen Account und wollen sich eingeloggen?
                    Melden Sie sich jetzt einfach <a href="/login">hier</a> an.
                </div>
                <div class="home-textblock6">
                    Oder klicken sie <a href="/event">hier</a> um sich eine Übersicht aller Events anzeigen zu lassen.
                    <br/>
                    <br/>
                    <br/>
                    Wir wünschen Ihnen ganz viel Spaß auf unserer Website! 
                </div>
            </div>
        </div>

    </div>

</div>

</div>






<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>