<div id="welcome">
  <div class="container pt-5 pb-5">
    <h1>Wilkommen!</h1>
    <hr/>
    <h2>Speisen</h2>
    <p>Bestellen Sie Essen und lassen Sie es sich liefern.</p>
    <div class="buttons pb-5">
      <a class="btn btn-primary" href="/event/create_events">Veranstaltung erstellen</a>
      <a class="btn btn-primary" href="/event">Veranstaltung anschauen</a>
      <a class="btn btn-primary" href="/categoryall">Kategorien anschauen</a>
    </div>
    <h2>Platzreservation</h2>
    <p>Reservieren Sie Liegestühle auf der Liegewiese und verwalten Sie Ihre Reservationen.</p>
  
  </div>
</div>
