<div class="container">
    <h1>Kategorien</h1>

    <div class="item-content">
        <table class="table">
            <thead>
                <th>Name</th>
            </thead>
            <tbody>
                <% categories.forEach(function(category){ %>
                    <tr>
                        <td>
                            <%= category.name %>
                        </td>
                        <td>
                            <a href="/category/<%= category.id %>/destroy">Löschen</a>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        <a href="/category/new">Hinzufügen</a>
    </div>
</div>
</div>